.testimonials__container{
    width: 40% !important;
    padding-bottom: 4rem;
}

.team_avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.friend__review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 1.8rem auto;
}
.swiper-pagination-clickable .swiper-pagination-bullet-active{
    background: var(--color-primary);
}

/* ============== MEIA QUEIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .testimonials__container{
        width: var(--container-width-md) !important;
    }

    section{
        margin-top: 6rem;
    }
    
}

/* ============== MEIA QUEIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .testimonials__container{
        width: var(--container-width-sm) !important;
    }

    section{
        margin-top: 2rem;
    }
    
}